{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>❤️Divya❤️</title>
	<!--<link rel="icon" href="favicon.ico">-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Sacramento&family=Sriracha&display=swap" rel="stylesheet">

</head>
<body>
	<div class="top"> 
      <img class="topcloud"    src="https://cdn.pixabay.com/photo/2013/07/12/13/16/clouds-146714_1280.png" alt ="cloud-img">
      <img class="mcloud"    src="https://cdn.pixabay.com/photo/2013/07/12/13/16/clouds-146714_1280.png" alt ="cloud-img">
      <h1>I'm Divya</h1>
      <img class="icon1" src="https://image.flaticon.com/icons/svg/725/725397.svg
">
<img class="icon2" src="https://image.flaticon.com/icons/svg/725/725339.svg
">
<img class="icon3" src="https://image.flaticon.com/icons/svg/725/725372.svg">

      <img id="botcloud"    src="https://cdn.pixabay.com/photo/2013/07/12/13/16/clouds-146714_1280.png" alt ="cloud-img">
      <img  id="image1"        src="{% static 'images/flower.png' %}" alt="flower-img">
      <img  id="image2"       src="{% static 'images/flower.png' %}" alt="mountain-img">
      <img  id="image3"        src="{% static 'images/flower.png' %}" alt="flower-img">
  </div>

  <div class="middle">
  	<div class="profile">
    <img style="width: 23%" src="https://image.flaticon.com/icons/svg/949/949635.svg" alt="">
    <h2>Hello.</h2>
    <p>I am a student of gvpcew from Computer science department</p>
  </div>
  <hr>
  <div class="skills">
    <h2>My Skills.</h2>
    <div class="skill-row">
      <img  class="code-img" src="https://image.flaticon.com/icons/svg/1006/1006363.svg" alt="">
      <h3>Design and development</h3>
      <p>I'm leaning coding  and want to design my own video games</p>
    </div>
    
  </div>

<hr>
   <div class="contactme">
    <h2>Get In Touch</h2>
    <h3>If you are excited like me</h3>
    <p>Excited to code.let's code together!!</p>
    <a class="myButton"  href="mailto:saragadadilip1234@gmail.com">CONTACT ME</a>
</div>
</div>




  <div class="bottom">
    <a class="footer-link" href="https://twitter.com/">Instagram</a>
   
  <a class="footer-link" href="https://twitter.com/">Twitter</a>
  <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
  <p style="font-size: 16px">© Divya saragada.All rights reserved</p>

  </div>

</body>
</html>